section.example {
    display: flex;
    height: auto;
    min-height: 100px;
    margin-bottom: 100px;
}

section.example .left,
section.example .right {
    width: 50%;
}

section.example label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 5px;
}

section.example .select3,
section.example .select3 {
    width: 200px;
    max-width: 200px;
}

section.example .select3 span {
    font-size: 0.8rem;
}