:root {
    --main-font: 'Montserrat', sans-serif;
    --main-color: #7366c7;
    --dark-color: #4c3da8;
    --secondary-color: #b5399c;
    font-size: 20px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
}

.link:hover {
    color: white;
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    background-color: var(--main-color);
    font-size: 1.1rem;
    align-items: center;
    height: fit-content;
}

header img {
    display: block;
    width: 80px;
    border-radius: 50%;
}

header .item {
    padding-inline: 10px;
}

header .link {
    font-weight: 500;
}

.about {
    position: relative;
    background-image: url(Assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;

    /* 100px is the height of the header*/
    min-height: calc(100vh - 100px);
    padding-block: 40px;
}

.about .description {
    background-color: var(--dark-color);
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    margin: 25px auto;
    padding: 30px 15px;
    width: calc(80% - 30px);
}

.scroll-to-projects {
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid black;
    outline: 3px solid white;
    margin: 0 auto;
    transition-duration: 0.2s;

    /* For some reason this centers the arrow vertically*/
    font-size: 40px;
}

.scroll-to-projects:hover {
    box-shadow: 0 0 15px #fff;
}

.scroll-to-projects img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.projects-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-inline: 15px;
    gap: 15px;
}

.projects-section h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

.projects-section #github-link {
    flex-basis: 100%;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
}

.projects-section #github-link a {overflow-wrap: anywhere}

.project {
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 10px #333;
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

.project:hover {box-shadow: 0 0 30px #333;}

.project .page-ss {
    max-width: 100%;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.project .page-ss:hover {
    transform: scale(1.02);
}

.project .title {
    padding-top: 15px;
    margin: 0;
    margin-bottom: 10px;
}

.project .project-description {
    font-size: 0.8rem;
    padding: 10px;
    font-weight: 500;
    margin-block: 10px;
}

.project .site-link {
    display: block;
    font-weight: bold;
    margin: 10px auto 20px;
}

.project .site-link:hover {
    transform: scale(1.1);
    color: black;
}

#contact {
    padding-inline: 10px;
    margin-top: 30px;
    padding-block: 20px;
    background-color: var(--main-color);
}


#contact:target {
    animation-name: blink; 
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 3;
    animation-fill-mode: none;
}

/* Used when user is linked to contact footer */
@keyframes blink {
    0% {
        background-color: var(--main-color);
    }

    50% {
        background-color: var(--dark-color);
    }

    100% {
        background-color: var(--main-color);
    }
}

#contact p {font-weight: 500;}

@media(min-width: 600px) {
    header {
        padding-block: 15px;
        justify-content: start;
        font-size: 1.3rem;
    }

    header img {width: 100px;}

    header .item {padding-inline: 20px;}

    .about {min-height: calc(100vh - 130px);}

    .about .description {width: 400px;}

    .about > .description:nth-of-type(odd) {
        margin-left: 20vw;
    }

    .about > .description:nth-of-type(even) {
        margin-right: 20vw;
    }

    .about .scroll-to-projects {margin: 0 auto;}

    .projects-section {
        flex-direction: row;
        gap: 15px;
    }

    .projects-section h1 {flex-basis: 100%;}

    .projects-section #github-link {font-size: 1.3rem;}

    .project {
        display: flex;
        flex-direction: column;
        margin: unset;
        justify-content: space-evenly;

        /* Half minus half of the gap */
        flex-basis: calc(50% - 7.5px);
    }

    .project .page-ss {margin-bottom: 30px;}

    /* Forces "view page" link to bottom of project card */
    .project .site-link {margin-top: auto;}

    #contact {padding-inline: 20px;}
}

@media(min-width: 800px) {
    header {font-size: 1.5rem}
    header img {
        width: 110px;
    }

    .about {min-height: calc(100vh - 140px);}
}

@media(min-width: 1000px) {
    header img {width: 130px;}

    .about {min-height: calc(100vh - 160px);}

    .projects-section {
        padding-inline: 25px;
        gap: 25px;
    }

    .projects-section #github-link {font-size: 1.5rem;}

    /* When there are 3 columns, there are 2 gaps. 
       Together the gaps are 50px, so each column needs-
       to shrink by a third of that. */
    .project {flex-basis: calc(33.333% - calc(50px / 3));}
}

@media(min-width: 1200px) {
    .projects-section h1 {
        font-size: 2.3rem;
        margin-block: 50px; 
    }

    #contact h1 {font-size: 2rem}

    #contact p {font-size: 1.2rem}
}

@media(min-width: 1400px) {

    .projects-section {
        padding-inline: 30px;
        gap: 30px;
    }

     /* When there are 4 columns, there are 3 gaps. 
       Together the gaps are 90px, so each column needs-
       to shrink by a quarter of that. */
    .project {
        flex-basis: calc(25% - calc(90px / 4));
    }
}