article h2 {
    margin-top: 150px;
}

section.method {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

section.method div.left,
section.method div.right {
    width: calc(50% - 10px);
}

section.method div.left.code,
section.method div.right.code {
    width: 100%;
}

section.method div.left h3,
section.method div.right h3 {
    margin-top: 80px;
}

section.method label {
    display: block;
    margin-bottom: 10px;
}

section.method output {
    display: block;
    width: 100%;
    min-height: 120px;
    height: fit-content;
    max-height: 500px;
    padding: 20px;
    font-size: 0.8rem;
    overflow-y: auto;
    background: var(--light);
    font-family: monospace, sans-serif;
    box-shadow: inset 0 0 5px 5px var(--black);
}

section.method p.note {
    width: 100%;
    margin-bottom: 5px;
    color: var(--black);
    font-size: 0.8rem;
    font-weight: 700;
}

section.method div.wrapper {
    width: 100%;
    display: block;
}

section.method button {
    width: 40%;
}

article #hover-paragraph {
    height: 100px;
    font-weight: bold;
    line-height: 100px;
}